@import 'styles/_constants.module.scss';

.playerButtonRoot {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid transparent;
  outline: none;
  border-radius: $roundingFull;
  background-color: transparent;

  transition-duration: .2s;

  &:disabled {
    background-color: '#E2E2E2';
    border: 3px solid transparent;
  }

  &:hover:enabled:not(:active) {
    background-color: $decor-purple;
    border: 3px solid transparent;
  }
}

.buttonRed {
  @extend .playerButtonRoot;

  background-color: $decor-purple;

  &:active:enabled {
    border: 3px dashed $decor-yellow;
    background-color: $decor-purple;
  }

  &:focus-visible:enabled:not(:active) {
    border: 3px dashed $decor-purple;
    background-color: $decor-yellow;
  }

  &:focus-visible:not(:hover) svg path {
    fill: $decor-purple
  }

  &:focus-visible:not(:hover) svg rect {
    fill: $decor-purple
  }
}

.buttonWhite {
  @extend .playerButtonRoot;

  background-color: $text-white;

  &:active:enabled {
    border: 3px dashed $decor-yellow;
    background-color: $text-white;
  }

  &:focus-visible:enabled:not(:active) {
    border: 3px dashed $decor-purple;
    background-color: $text-white;
  }
}

.iconContainer {
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  
  @media screen and (max-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }
}