@import 'styles/_constants.module.scss';

.appLayoutRoot {
  display: flex;
}

.content {
  padding-top: $spacing-x8;
  transition: padding-left 200ms ease;
}

.authContent {
  height: 100vh;
  padding: 0 !important;
}

.footer {
  padding-left: 220px;
  padding-right: 0;
}