
.appLayoutRoot {
  display: flex;
}

.navbar {
  position: fixed !important;
  overflow: auto;
  height: calc(100vh - 64px);
  left: 0;
  top: 64px;
  bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;

  padding-top: 64px;
  padding-left: 200px;

  .pageContent {
    flex-grow: 1;
  }
}