@import 'styles/_constants.module.scss';
@import 'styles/_typography.module.scss';
@import 'styles/_common.module.scss';

.channelPageRoot {
  // @extend .pageContainer;

  // background-color: gray;
  min-height: 100vh;
}

.channelBanner {
  position: relative;
  width: 100%;
  height: 300px;

  background-color: gray
}

.pageContent {
  @extend .pageContainer;
}

.authorBlock {
  border-bottom: 3px solid $decor-purple;
  margin-bottom: $spacing-x2;

  .button {
    @include button1;

    margin-top: $spacing-x2;
    border: 1px solid $decor-purple;
  }
}

.tabsWrapper {
  .label {
    @include body2;
    text-transform: uppercase;
  }
}

.authorImage {
  height: 150px !important;
  width: 150px !important;
  min-height: 150px;
  min-width: 150px;
}

.authorName {
  @include headline3;
}