@import 'styles/_constants.module.scss';
@import 'styles/_typography.module.scss';
@import 'styles/_common.module.scss';

.channelPageRoot {
  // @extend .pageContainer;

  // background-color: gray;
}

.channelBanner {
  position: relative;
  width: 100%;
  height: 300px;

  background-color: gray
}

.pageContent {
  @extend .pageContainer;
}

.authorImage {
  height: 150px !important;
  width: 150px !important;
  min-height: 150px;
  min-width: 150px;
}

.authorName {
  @include headline3;
}