.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.desktopGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}

.displayNone {
  display: none;
}

.contentContainer {
  width: 100%;
  min-width: 1280px;
  max-width: 1920px;
  padding: 0 135px;
  margin: 0 auto;

  @media screen and (max-width: $desktop-width) {
    min-width: 768px;
    max-width: 1100px;
    padding: 0 45px;
  }
  @media screen and (max-width: $tablet-width) {
    min-width: 320;
    max-width: 500px;
    padding: 0 15px;
  }
}