@import './constants.module';

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.desktopGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $spacing-x2;
  
  @media screen and (max-width: $desktop-width) {
    grid-template-columns: repeat(8, 1fr);
    column-gap: $spacing-x2;
  }
  @media screen and (max-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: $spacing-base;
  }
}

.displayNone {
  display: none;
}

.pageContainer {
  width: 100%;
  max-width: 1600px;
  padding: $spacing-x3 $spacing-x6;
  margin: 0 auto;
}

