@mixin headline1 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
}

@mixin headline2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

@mixin headline3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

@mixin headline4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

@mixin body1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
@mixin body2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin body3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin button1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

@mixin button2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

@mixin button3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
