* {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F3F4F6;
}

button,
*[role='button'] {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

input,
textarea,
button,
*[role='button'],
select,
a {
  -webkit-tap-highlight-color: transparent;
}

input {
  border-radius: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #121923;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
