@import 'styles/_constants.module.scss';
@import 'styles/_typography.module.scss';

.authorRoot {
  display: flex;
  align-items: center;
  column-gap: $spacing-x2;

  margin-bottom: $spacing-x2;

  .disableLink {
    pointer-events: none;
  }

  .authorImage {
    position: relative;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;

    align-self: flex-start;

    border-radius: $roundingFull;
    overflow: hidden;
  }

  .authorInfo {
    .subscribersCount {
      @include body2;
      display: block;
    }
  }

  .authorName {
    @include button2;
  }
}