@import '../../../styles/constants.module';
@import '../../../styles/common.module';
@import '../../../styles/typography.module';

.headerRoot {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  background-color: $decor-purple;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.navButton {
  @include headline3;
  color: $decor-yellow;
  transition: color 200ms ease;

  margin-right: $spacing-x4;

  &:hover {
    color: $blue-hover;
  }
}

.logo {
  @include headline3;

  border: 2px solid $decor-yellow;
  padding: 3px 10px;
  border-radius: $rounding20;
  margin-right: $spacing-x3;

  color: $decor-yellow;
  text-transform: uppercase;

  transition: outline 200ms ease;
  
  & svg {
    margin-right: $spacing-base;
  }

  &:hover {
    border: 2px solid $blue-hover;
  }
  &:active {
    color: $blue-hover;
  }
}


.topMenu {
  min-width: 200px;
  background-color: transparent;
  color: $text-white;
}

.headerRight {
  cursor: pointer;
}