@import 'styles/_typography.module.scss';
@import 'styles/_constants.module.scss';

.navButtonRoot {
  padding: 4px 40px;
  height: fit-content;

  & a span {
    @include button3;
  }
  & a span svg {
    transition: height 200ms ease, width 200ms ease;
  }
  
  &:hover {
    color: $text-main !important;
    border-color: $decor-purple !important;
    background-color: $gray !important;
  }
}

.link {
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  padding: 0 !important;
}

.smallButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: $spacing-base;

  & span svg {
    height: 20px;
    width: 20px;
  }
  & span {
    margin-inline-start: 0 !important;
  }
}