@import 'styles/constants.module';


.searchFieldRoot {
  & span input {
    background-color: transparent;
    border-color: $decor-yellow;
    color: $text-white !important;

    &::placeholder {
      color: $hover-light !important;
    }

    &:hover {
      border-color: $hover-light !important;
    }
    &:focus {
      border-color: $hover-light !important;
    }
  }

  & span span {
    background-color: $decor-purple;
    
    & button {
      border-color: $decor-yellow;
      background-color: $decor-purple;
      
      &:hover {
        border-color: $hover-light !important;

        & span {
          color: $hover-light;
        }
      }
      
      & span {
        transition: color 200ms ease;
        color: $decor-yellow;  
      }
    }
  }
}
